@media only screen and (max-width:340px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .header_area .services-area,
    {
        padding: 2%;
        margin: 0px;
    }
    .site-main .site-banner .site-title h1{
        font-size: 31px;
    }
    .site-main .site-banner .site-title h3{
        font-size: 27px;
    }
    .site-main .site-banner .site-title h4{
        font-size: 12px;
    }
    .site-main .services-area .services{
    width:13rem;
    margin-left:-65px;
    }
    .site-main .client-area .about-title{
        margin-left: 30px;
        width: 15%;
     }
    .site-main .client-area .about-title h1{
       font-size: 25px;
       width: 200px;

    }
    .site-main .client-area .about-title p{
        width: 200px;
    padding: 0; 
     }
    
     .site-main .client-area {
         padding: 1%;
         margin: 0;

     
     }
     .site-main .brand-area .degree-area .deplome-area .deplome h3{
         font-size: 22px;
     }
}
@media only screen and (max-width:792px){
.site-main .about-area .about-title h2 span{
font-size: 31px;
letter-spacing: 5px;
}

.site-main .brand-area .degree-area .deplome-area{
    padding-left:1;
    width:49%; 
}
.site-main .brand-area .degree-area .bg-panel{
    margin-left:30%;
    width: 80%;
}
.site-main .brand-area .degree-area .call-area{
    padding-left: 3%;
}
.site-main .project-area .button-group button{
    font: normal 500 15px/40px var(--fonth);
}
.site-main .about-area .about-title p{
    padding: 0%;
}
}
@media only screen and (max-width:1910px){
    .header_area .main-menu .navbar{
        padding: 1rem;
    }
    .container{
        max-width: 90%;
    }
    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area{
padding: 3% 4%;
    }
}